h1 {
  color: gold;
}

body {
  background-image: url("./1.jpg");
  text-align: center;
  background-position: center;
}

h3 {
  color: gold;
}

p {
  color: orange;
}

a {
  color: slategrey;
  text-decoration: none;
}
