h1 {
  color: gold;
}

body {
  background-image: url("./tree-of-knowledge-.jpg");
  background-position: center;
  text-align:center;
}

h2, h3 {
  color: red;
}

p {
  color: orange;
}

a {
  color: white;
}
